Integrator_Type = MC_Simulation 
Min_Max_Lenghts = 1 3
MinfaceAngle = -0.5
Temperature = 1.0 0
Set_Steps = 1 1000
EnergyMethod = FreeDTS1.0_FF
Seed = 64137
Kappa = 20 0 0.0
VertexArea = 0 0.7 0 0
TimeSeriesData_Period = 10
VertexPositionIntegrator = MetropolisAlgorithm 1 1 0.05
AlexanderMove = MetropolisAlgorithm 1
InclusionPoseIntegrator = MetropolisAlgorithm  1 1
Dynamic_Box = IsotropicFrameTension 5 0 XY
VisualizationFormat = VTUFileFormat VTU_F 10
NonbinaryTrajectory = TSI TrajTSI 10
Restart_Period = 10
ParallelReplica = ParallelTempering ParallelTemperingMoveSimple 10 4 0.5 1
